
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
    margin: 0;
    font-family: "Raleway", sans-serif;
 }

 header{
    text-align: center;
   }

header span {
    background-color:#000;
    color:#fff;
}

main{
    display: flex;
}
section{
    width: 70%;
    flex-direction: column;
}

aside{
    width: 30%;
    flex-direction: column;
}

.card {
    border: 1px solid black;
    margin: 16px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);

}

.card img {
   width: 100%;
   height: auto; 
}

.card-text{
    padding: 16px;
}

footer {
    background-color: #616161;
    height: 100px;
    padding-left: 15px;

}

footer button {
    Background-color: #000;
    Color: #fff;
    padding: 12px;
    border: none;
    margin-top: 15px;
      
}

footer button:hover {
    background-color: grey; 
}

@media (max-width: 600px) {
    main {
        display: block;
    }

    section {
        width: 100%;
    }

    aside {
        width: 100%;
    }
}
